.support-page {
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 24px 56px;
}

.support-lead {
  margin: 0 0 24px;
  font-size: 32px;
  line-height: 1.1;
}

.support-section {
  margin-top: 56px;
  padding-top: 32px;
  border-top: 1px solid rgb(0 0 0 / 8%);
}

.support-list {
  margin-top: 16px;
  padding-left: 20px;
}

.support-list li {
  margin-bottom: 8px;
}
